.btn-hover-effect {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 10px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 #5500be;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #5500be,  #f971ba,  #f971ba, #5500be);
}

.btn-hover-effect:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover-effect:focus {
  outline: none;
}

